
@{
    ViewBag.Title = "Settings";
}

<h2>Instellingen</h2>

<div id="settings">
    <ul>
        <li>
            <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Index", "categories")'">
                Categorie
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Index", "ls")'">
                LS
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Index", "ljs")'">
                LJ
            </button>
        </li>
    </ul>
</div>