
@{
    ViewBag.Title = "Settings";
}

<h2>Instellingen</h2>

<div id="settings">
    <ul>
        <li>@Html.ActionLink("Categorie", "Index", "categories", new { @class = "btn btn-default btn-lg" })</li>
        <li>@Html.ActionLink("LS", "Index", "ls", new { @class = "btn btn-default btn-lg" })</li>
        <li>@Html.ActionLink("LS", "Index", "ljs", new { @class = "btn btn-default btn-lg" })</li>
    </ul>
</div>